.about-us {
    width: 100%;
    height: 85vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.about-h1 {
    font-size: var(--fs-h1);
    font-weight: 800;
    color: var(--blue-color);
}

.about-text {
    font-size: var(--fs-md);
}

.about-img {
    width: 100px;
    height: 100px;
}

#gallery {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}