:root {
    --primary-color: #d9d9d9; /* headers */
    --secondary-color: #b2b2b2; /* paragraphs, navlinks */

    --blue-color: lightskyblue; /* alternative color */
    --green-color: #00550d; /* Readnow btn */
    --orange-color: #904401; /* Watchnow btn */

    --bkg-color-primary: #111315; /* main background */

    --fs-logo: 80px;

    /* Header */
    --fs-h1: 3.5rem;

    /* Content based sizes */
    --fs-lg: 3.2rem;
    --fs-md: 0.95rem;
    --fs-sm: 0.8rem;

    --ff-primary: "Poppins", sans-serif;
    --ff-secondary: "Mulish", sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  
}

html {
  scroll-behavior: smooth
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--ff-primary);
  background-color:var(--bkg-color-primary);

  color: var(--primary-color);
  
  
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

ol, ul {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-size: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}