#main_content {
    width: 100%;
    height: 85vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

h1 {
    font-size: var(--fs-h1);
    font-weight: 800;
    color: var(--blue-color);
}

h2 {
    font-size: var(--fs-h2);
}

p {
    font-size: var(--fs-md);
}


.cover_container {
    display: flex;
    justify-content: center;
    align-items: center;
}