/* Navigation bar styles */
nav {
    position: relative;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px 0px;
    z-index: 2;
}


 /* Link styles */
.logo {
    width: 60px;
    height: 60px;
}


.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: var(--fs-md);
}

.nav-links a{
    font-weight: bold;
    transition: 0.3s;
}
.nav-links a:hover {
    color: lightskyblue; 
    
}


/* Search bar styles */

.src-form{
    background-color: rgb(30, 31, 33);
    padding: 12px 50px 12px 10px;
    border-radius: 50px;
}

.src-bar {
    display: flex;
    gap: 5px;
    border-radius: 50px;
}

.src-img {
    width: 20px;
    height: 20px;
}

.src-input {
    background-color: rgb(30, 31, 33);    
    border: none;
    outline: none;
    font-size: var(--fs-sm);
    color: var(--secondary-color);
}


.burger-btn {
    display: none;
}





/* footer styles */
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bkg-secondary-color);
    padding: 15px 50px 15px;
    z-index: 2;
}

.footer-links {
    display: flex;
    gap: 25px;
    
}

.footer-links a {
    color: var(--secondary-color);
    font-size: var(--fs-sm);
    transition: 0.3s;
}

.footer-links a:hover {
    color: var(--blue-color); 
}





@media screen and (max-width: 48em) {

nav {
    padding: 15px 5px 0px;
}

.nav-links {
    display: none;
}

/* burger tab for iphone and tablet users */ 
.burger-btn {
    width: 40px;
    height: 40px;
    display: block;
    
}
    

    
footer {
    flex-direction: row;
    gap: 5px;
    line-height: 1.0;
    padding: 15px 30px 15px ;
}


.footer-links {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 1rem;
    align-items: center;
}
}