.art_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    overflow: hidden;
}

.cover_container {
    width: 100%;
    height: 460px;
}

.cover {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin: 0 auto;
}

.link {
    text-decoration: underline;
    color: cornflowerblue;
}