#main_content {
    width: 100%;
    height: 80vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: var(--fs-h1);
    font-weight: 800;
    color: var(--blue-color);
}

h2 {
    font-size: var(--fs-md);
}

.art_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    overflow: hidden;
}

.cover_container {
    width: 100%;
    height: 460px;
}

.cover {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin: 0 auto;
}

.link {
    text-decoration: underline;
    color: cornflowerblue;
}