main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}



.row-1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding-top: 3rem;
    gap: 3rem;
}

.col-1 {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.genre {
    font-size: var(--fs-sm);
}

.title {
    font-size: var(--fs-h1);
    line-height: 1.1;
}

.info {
    font-size: var(--fs-sm);
}


.idk {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.blue-btn {
    width: 100px;
    height: 40px;
    background-color: var(--blue-color);
    color: #fff;
    font-weight: bold;
    font-size: var(--fs-sm);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.black-btn {
    width: 100px;
    height: 40px;
    background-color: var(--bkg-color-secondary);
    color: var(--primary-color);
    font-weight: bold;
    font-size: var(--fs-sm);
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.black-btn:hover {
    background-color: var(--primary-color);
    color: #000;
}


.rating {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: var(--fs-sm);
}

.star {
    width: 30px;
}

.cover {
    width: 220px;
    height: 332px;
}


.row-2{
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
}
.trailer {
    width: 600px;
    height: 400px;
}


@media screen and (max-width: 48em) {

    .row-1 {
        flex-direction: column-reverse;
        gap: 1.5rem;
        align-items: center;
    }


    .col-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 3rem;
    gap: .5rem;
    }

    .genre {
    font-size: var(--fs-sm);
    }

    .title {
    font-size: var(--fs-h1);
    line-height: 1.1;
    }

    .info {
    font-size: var(--fs-sm);
    }

    .idk {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    }

    .blue-btn, .black-btn {
        font-size: var(--fs-md);
    }

    .rating {
        font-size: var(--fs-md);
    }


    .trailer {
    width: 300px;
    height: 200px;
    }

}