main {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
}



.title {
    font-size: var(--fs-h1);
    color: lightskyblue;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.show {
    cursor: pointer;
}

.show-img {
    width: 150px;
    height: 225px;
}


.rating {
    display: flex;
    align-items: center;
    font-size: var(--fs-sm);
    gap: .3rem;
}

.star {
    width: 20px;
}