main {
    display: flex;
    align-items: center;
    padding: 50px 0;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}


.show {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cover {
    width: 75px;
    height: 100px;
}

.title {
    font-size: var(--fs-md);
}

.sub {
    font-size: var(--fs-sm);
}

.rating {
    display: flex;
    font-size: .6rem;
    align-items: center;
    gap: .3rem;
    justify-content: center;
}
.star {
    width: 20px;
}
