main {
    display: flex;
    align-items: center;
    padding: 50px 50px;
    gap: 5rem;
    flex-wrap: wrap;
    justify-content: center;
}


.show {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.cover {
    width: 150px;
    min-width: 75px;
    height: 200px;
    min-height: 100px;
}

.title {
    font-size: var(--fs-md);
}

.sub {
    font-size: var(--fs-sm);
}

.rating {
    display: flex;
    font-size: .6rem;
    align-items: center;
    gap: .3rem;
    justify-content: center;
}
.star {
    width: 20px;
}




@media screen and (max-width: 48em) {

    main {
    gap: 2rem;
    }

    .cover {
    width: 100px;
    min-width: 75px;
    height: 125px;
    min-height: 100px;
    }

}