:root {
    --primary-color: #d9d9d9; /* headers */
    --secondary-color: #b2b2b2; /* paragraphs, navlinks */

    --blue-color: #87cefa; /* alternative color */
    --green-color: #00550d; /* Readnow btn */
    --orange-color: #904401; /* Watchnow btn */

    --bkg-linear-gradient-primary: linear-gradient(#111315, #202020); /* main background */
    --bkg-secondary-color: #111315;
    --bkg-box-color: #1e1f21;

    --fs-logo: 80px;

    /* Header */
    --fs-h1: 3rem;
    --fs-h2: 1.25rem;

    /* Content based sizes */
    --fs-lg: 1.5rem;
    --fs-md: 0.95rem;
    --fs-sm: 0.8rem;

    --ff-primary: "Poppins", sans-serif;
    --ff-secondary: "Mulish", sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  height: 100%;
  
}

html {
  scroll-behavior: smooth
}

body {
  width: 100%;
  height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--ff-primary);
  background: var(--bkg-linear-gradient-primary);
  color: var(--primary-color);
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

ol, ul {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-size: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}



@media screen and (max-width: 48em) {
  :root {
      /* Header */
      --fs-h1: 1.5rem;

      /* Content based sizes */
      --fs-lg: 1rem;
      --fs-md: 0.7rem;
      --fs-sm: 0.5rem;


      --fs-logo: 25px;


  }

}