.art_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin: 0;
    width: auto;
}

#gallery {
    width: 600px;
    height: 600px;
}

.cover_container {
    width: 100%;
    height: 460px;
}

.cover {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin: 0 auto;
}

.link {
    text-decoration: underline;
    color: var(--blue-color);
}